@import "./shared/fonts";
@import "./components/header";
// Index page
@import "./index";

html,
body {
  font-family: "Montserrat", "Helvetica" !important;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

.base-page {
  padding-top: 150px;
  color: #fff;
}

.absolute {
  position: absolute;
}

.self-typed {
  font-size: 31px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}
